﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:330px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
.u2137 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u2138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:196px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u2138 {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:196px;
}
.u2139 {
  position:absolute;
  left:2px;
  top:90px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
.u2140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
.u2140 {
  position:absolute;
  left:43px;
  top:16px;
  width:41px;
  height:13px;
  font-size:10px;
}
.u2141 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
.u2142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:8px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u2142 {
  position:absolute;
  left:0px;
  top:206px;
  width:330px;
  height:8px;
}
.u2143 {
  position:absolute;
  left:2px;
  top:-4px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
.u2144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u2144 {
  position:absolute;
  left:15px;
  top:43px;
  width:127px;
  height:16px;
}
.u2145 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
.u2146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
.u2146 {
  position:absolute;
  left:15px;
  top:11px;
  width:22px;
  height:22px;
}
.u2147 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
.u2148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
.u2148 {
  position:absolute;
  left:285px;
  top:166px;
  width:30px;
  height:30px;
}
.u2149 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
.u2150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
.u2150 {
  position:absolute;
  left:15px;
  top:166px;
  width:30px;
  height:30px;
}
.u2151 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
.u2152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
.u2152 {
  position:absolute;
  left:144px;
  top:166px;
  width:30px;
  height:30px;
}
.u2153 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
.u2154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:97px;
}
.u2154 {
  position:absolute;
  left:15px;
  top:69px;
  width:291px;
  height:97px;
}
.u2155 {
  position:absolute;
  left:2px;
  top:40px;
  width:287px;
  visibility:hidden;
  word-wrap:break-word;
}
.u2156 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u2157_div {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:196px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u2157 {
  position:absolute;
  left:0px;
  top:214px;
  width:330px;
  height:196px;
}
.u2158 {
  position:absolute;
  left:2px;
  top:90px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
.u2159_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
.u2159 {
  position:absolute;
  left:42px;
  top:230px;
  width:41px;
  height:13px;
  font-size:10px;
}
.u2160 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
.u2161_div {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:8px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u2161 {
  position:absolute;
  left:0px;
  top:420px;
  width:330px;
  height:8px;
}
.u2162 {
  position:absolute;
  left:2px;
  top:-4px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
.u2163_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u2163 {
  position:absolute;
  left:15px;
  top:257px;
  width:127px;
  height:16px;
}
.u2164 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
.u2165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:22px;
}
.u2165 {
  position:absolute;
  left:15px;
  top:225px;
  width:21px;
  height:22px;
}
.u2166 {
  position:absolute;
  left:2px;
  top:3px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
.u2167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:30px;
}
.u2167 {
  position:absolute;
  left:277px;
  top:384px;
  width:29px;
  height:30px;
}
.u2168 {
  position:absolute;
  left:2px;
  top:7px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
.u2169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:30px;
}
.u2169 {
  position:absolute;
  left:15px;
  top:385px;
  width:29px;
  height:30px;
}
.u2170 {
  position:absolute;
  left:2px;
  top:7px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
.u2171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:30px;
}
.u2171 {
  position:absolute;
  left:140px;
  top:384px;
  width:29px;
  height:30px;
}
.u2172 {
  position:absolute;
  left:2px;
  top:7px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
.u2173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:97px;
}
.u2173 {
  position:absolute;
  left:15px;
  top:283px;
  width:291px;
  height:97px;
}
.u2174 {
  position:absolute;
  left:2px;
  top:40px;
  width:287px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2136-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:428px;
}
#u2136-2 {
  position:absolute;
  left:0px;
  top:428px;
  width:330px;
  height:428px;
}
#u2136-3 {
  position:absolute;
  left:0px;
  top:856px;
  width:330px;
  height:428px;
}
#u2136 {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:1284px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
