﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:424px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1476 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1477_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:792px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1477 {
  position:absolute;
  left:48px;
  top:43px;
  width:376px;
  height:792px;
}
#u1478 {
  position:absolute;
  left:2px;
  top:388px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1479 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1480_div {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:788px;
  background:inherit;
  background-color:rgba(25, 25, 25, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1480 {
  position:absolute;
  left:50px;
  top:45px;
  width:372px;
  height:788px;
}
#u1481 {
  position:absolute;
  left:2px;
  top:386px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1482_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1482 {
  position:absolute;
  left:56px;
  top:115px;
  width:360px;
  height:640px;
}
#u1483 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1484_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:10px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1484 {
  position:absolute;
  left:152px;
  top:73px;
  width:168px;
  height:10px;
}
#u1485 {
  position:absolute;
  left:2px;
  top:-3px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1486_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:10px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1486 {
  position:absolute;
  left:152px;
  top:785px;
  width:168px;
  height:10px;
}
#u1487 {
  position:absolute;
  left:2px;
  top:-3px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1488 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1489 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1490_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:39px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
}
#u1490 {
  position:absolute;
  left:56px;
  top:139px;
  width:360px;
  height:39px;
}
#u1491 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1492_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:28px;
}
#u1492 {
  position:absolute;
  left:56px;
  top:145px;
  width:40px;
  height:28px;
}
#u1493 {
  position:absolute;
  left:2px;
  top:6px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1494_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1494 {
  position:absolute;
  left:96px;
  top:149px;
  width:33px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1495 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1496_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1496 {
  position:absolute;
  left:56px;
  top:139px;
  width:104px;
  height:39px;
}
#u1496_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:39px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1496.mouseDown {
}
#u1497 {
  position:absolute;
  left:2px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1498 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1499_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:24px;
  background:inherit;
  background-color:rgba(114, 114, 114, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1499 {
  position:absolute;
  left:56px;
  top:115px;
  width:360px;
  height:24px;
}
#u1500 {
  position:absolute;
  left:2px;
  top:4px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1501_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:13px;
}
#u1501 {
  position:absolute;
  left:308px;
  top:121px;
  width:100px;
  height:13px;
}
#u1502 {
  position:absolute;
  left:2px;
  top:-2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1503 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1504_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:8px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1504 {
  position:absolute;
  left:61px;
  top:184px;
  width:350px;
  height:31px;
  text-align:left;
}
#u1505 {
  position:absolute;
  left:40px;
  top:8px;
  width:308px;
  word-wrap:break-word;
}
#u1506_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:127px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1506 {
  position:absolute;
  left:61px;
  top:217px;
  width:350px;
  height:127px;
}
#u1507 {
  position:absolute;
  left:2px;
  top:56px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1508_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:25px;
}
#u1508 {
  position:absolute;
  left:67px;
  top:188px;
  width:27px;
  height:25px;
}
#u1509 {
  position:absolute;
  left:2px;
  top:4px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1510 {
  position:absolute;
  left:76px;
  top:236px;
  width:329px;
  height:101px;
}
#u1511_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:30px;
}
#u1511 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:30px;
}
#u1512 {
  position:absolute;
  left:2px;
  top:7px;
  width:80px;
  word-wrap:break-word;
}
#u1513_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:30px;
}
#u1513 {
  position:absolute;
  left:84px;
  top:0px;
  width:240px;
  height:30px;
}
#u1514 {
  position:absolute;
  left:2px;
  top:7px;
  width:236px;
  word-wrap:break-word;
}
#u1515_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:30px;
}
#u1515 {
  position:absolute;
  left:0px;
  top:30px;
  width:84px;
  height:30px;
}
#u1516 {
  position:absolute;
  left:2px;
  top:7px;
  width:80px;
  word-wrap:break-word;
}
#u1517_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:30px;
}
#u1517 {
  position:absolute;
  left:84px;
  top:30px;
  width:240px;
  height:30px;
}
#u1518 {
  position:absolute;
  left:2px;
  top:7px;
  width:236px;
  word-wrap:break-word;
}
#u1519_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:36px;
}
#u1519 {
  position:absolute;
  left:0px;
  top:60px;
  width:84px;
  height:36px;
}
#u1520 {
  position:absolute;
  left:2px;
  top:10px;
  width:80px;
  word-wrap:break-word;
}
#u1521_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:36px;
}
#u1521 {
  position:absolute;
  left:84px;
  top:60px;
  width:240px;
  height:36px;
}
#u1522 {
  position:absolute;
  left:2px;
  top:10px;
  width:236px;
  word-wrap:break-word;
}
#u1523_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1523 {
  position:absolute;
  left:373px;
  top:186px;
  width:25px;
  height:25px;
}
#u1524 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
