﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:688px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u77 {
  position:absolute;
  left:45px;
  top:50px;
  width:648px;
  height:147px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u79 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u80 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
}
#u81 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  height:30px;
}
#u82 {
  position:absolute;
  left:200px;
  top:0px;
  width:443px;
  height:30px;
}
#u83 {
  position:absolute;
  left:2px;
  top:7px;
  width:439px;
  word-wrap:break-word;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u84 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:36px;
}
#u85 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u86 {
  position:absolute;
  left:100px;
  top:30px;
  width:100px;
  height:36px;
}
#u87 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  height:36px;
}
#u88 {
  position:absolute;
  left:200px;
  top:30px;
  width:443px;
  height:36px;
  text-align:left;
}
#u89 {
  position:absolute;
  left:2px;
  top:2px;
  width:439px;
  word-wrap:break-word;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u90 {
  position:absolute;
  left:0px;
  top:66px;
  width:100px;
  height:20px;
}
#u91 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u92 {
  position:absolute;
  left:100px;
  top:66px;
  width:100px;
  height:20px;
}
#u93 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  height:20px;
}
#u94 {
  position:absolute;
  left:200px;
  top:66px;
  width:443px;
  height:20px;
  text-align:left;
}
#u95 {
  position:absolute;
  left:2px;
  top:2px;
  width:439px;
  word-wrap:break-word;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u96 {
  position:absolute;
  left:0px;
  top:86px;
  width:100px;
  height:20px;
}
#u97 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u98 {
  position:absolute;
  left:100px;
  top:86px;
  width:100px;
  height:20px;
}
#u99 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  height:20px;
}
#u100 {
  position:absolute;
  left:200px;
  top:86px;
  width:443px;
  height:20px;
  text-align:left;
}
#u101 {
  position:absolute;
  left:2px;
  top:2px;
  width:439px;
  word-wrap:break-word;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u102 {
  position:absolute;
  left:0px;
  top:106px;
  width:100px;
  height:36px;
}
#u103 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u104 {
  position:absolute;
  left:100px;
  top:106px;
  width:100px;
  height:36px;
}
#u105 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  height:36px;
}
#u106 {
  position:absolute;
  left:200px;
  top:106px;
  width:443px;
  height:36px;
  text-align:left;
}
#u107 {
  position:absolute;
  left:2px;
  top:2px;
  width:439px;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:45px;
  top:217px;
  width:140px;
  height:25px;
}
#u108_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
