﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:426px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1687 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1688_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:792px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1688 {
  position:absolute;
  left:50px;
  top:53px;
  width:376px;
  height:792px;
}
#u1689 {
  position:absolute;
  left:2px;
  top:388px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1690 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1691_div {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:788px;
  background:inherit;
  background-color:rgba(25, 25, 25, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1691 {
  position:absolute;
  left:52px;
  top:55px;
  width:372px;
  height:788px;
}
#u1692 {
  position:absolute;
  left:2px;
  top:386px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1693_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1693 {
  position:absolute;
  left:58px;
  top:125px;
  width:360px;
  height:640px;
}
#u1694 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1695_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:10px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1695 {
  position:absolute;
  left:154px;
  top:83px;
  width:168px;
  height:10px;
}
#u1696 {
  position:absolute;
  left:2px;
  top:-3px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1697_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:10px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1697 {
  position:absolute;
  left:154px;
  top:795px;
  width:168px;
  height:10px;
}
#u1698 {
  position:absolute;
  left:2px;
  top:-3px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1699 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1700_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:24px;
  background:inherit;
  background-color:rgba(114, 114, 114, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1700 {
  position:absolute;
  left:58px;
  top:125px;
  width:360px;
  height:24px;
}
#u1701 {
  position:absolute;
  left:2px;
  top:4px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1702_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:13px;
}
#u1702 {
  position:absolute;
  left:310px;
  top:131px;
  width:100px;
  height:13px;
}
#u1703 {
  position:absolute;
  left:2px;
  top:-2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1704 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1705_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:41px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
}
#u1705 {
  position:absolute;
  left:58px;
  top:149px;
  width:360px;
  height:41px;
}
#u1706 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1707 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1708_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:29px;
}
#u1708 {
  position:absolute;
  left:58px;
  top:155px;
  width:40px;
  height:29px;
}
#u1709 {
  position:absolute;
  left:2px;
  top:6px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1710_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1710 {
  position:absolute;
  left:98px;
  top:162px;
  width:29px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1711 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1712_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1712 {
  position:absolute;
  left:58px;
  top:149px;
  width:104px;
  height:41px;
}
#u1712_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:41px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1712.mouseDown {
}
#u1713 {
  position:absolute;
  left:2px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1714_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1714 {
  position:absolute;
  left:373px;
  top:154px;
  width:30px;
  height:30px;
}
#u1715 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1716 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1717_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:190px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
}
#u1717 {
  position:absolute;
  left:436px;
  top:149px;
  width:128px;
  height:190px;
}
#u1718 {
  position:absolute;
  left:2px;
  top:87px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1719_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-top:0px;
  border-radius:2px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1719 {
  position:absolute;
  left:436px;
  top:275px;
  width:128px;
  height:32px;
  text-align:left;
}
#u1719_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-top:0px;
  border-radius:2px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1719.mouseDown {
}
#u1720 {
  position:absolute;
  left:16px;
  top:8px;
  width:110px;
  word-wrap:break-word;
}
#u1721_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-top:0px;
  border-radius:2px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1721 {
  position:absolute;
  left:436px;
  top:243px;
  width:128px;
  height:32px;
  text-align:left;
}
#u1721_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-top:0px;
  border-radius:2px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1721.mouseDown {
}
#u1722 {
  position:absolute;
  left:16px;
  top:8px;
  width:110px;
  word-wrap:break-word;
}
#u1723_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-top:0px;
  border-radius:2px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1723 {
  position:absolute;
  left:436px;
  top:213px;
  width:128px;
  height:32px;
  text-align:left;
}
#u1723_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-top:0px;
  border-radius:2px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1723.mouseDown {
}
#u1724 {
  position:absolute;
  left:16px;
  top:8px;
  width:110px;
  word-wrap:break-word;
}
#u1725_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1725 {
  position:absolute;
  left:436px;
  top:181px;
  width:128px;
  height:32px;
  text-align:left;
}
#u1725_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1725.mouseDown {
}
#u1726 {
  position:absolute;
  left:16px;
  top:8px;
  width:110px;
  word-wrap:break-word;
}
#u1727_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1727 {
  position:absolute;
  left:436px;
  top:149px;
  width:128px;
  height:32px;
  text-align:left;
}
#u1727_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1727.mouseDown {
}
#u1728 {
  position:absolute;
  left:16px;
  top:8px;
  width:110px;
  word-wrap:break-word;
}
#u1729_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-top:0px;
  border-radius:2px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1729 {
  position:absolute;
  left:436px;
  top:307px;
  width:128px;
  height:32px;
  text-align:left;
}
#u1729_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-top:0px;
  border-radius:2px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1729.mouseDown {
}
#u1730 {
  position:absolute;
  left:16px;
  top:8px;
  width:110px;
  word-wrap:break-word;
}
#u1731_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:2px;
}
#u1731 {
  position:absolute;
  left:437px;
  top:181px;
  width:127px;
  height:1px;
}
#u1732 {
  position:absolute;
  left:2px;
  top:-8px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1733_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1733 {
  position:absolute;
  left:533px;
  top:154px;
  width:24px;
  height:24px;
}
#u1734 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1735_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1735 {
  position:absolute;
  left:533px;
  top:184px;
  width:24px;
  height:24px;
}
#u1736 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1737_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1737 {
  position:absolute;
  left:533px;
  top:218px;
  width:24px;
  height:24px;
}
#u1738 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1739_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1739 {
  position:absolute;
  left:533px;
  top:247px;
  width:24px;
  height:24px;
}
#u1740 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1741_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1741 {
  position:absolute;
  left:533px;
  top:281px;
  width:24px;
  height:24px;
}
#u1742 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1743_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1743 {
  position:absolute;
  left:533px;
  top:307px;
  width:24px;
  height:24px;
}
#u1744 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1745_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:8px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:left;
}
#u1745 {
  position:absolute;
  left:63px;
  top:196px;
  width:350px;
  height:35px;
  font-size:12px;
  text-align:left;
}
#u1746 {
  position:absolute;
  left:35px;
  top:10px;
  width:313px;
  word-wrap:break-word;
}
#u1747_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:524px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1747 {
  position:absolute;
  left:63px;
  top:234px;
  width:350px;
  height:524px;
}
#u1748 {
  position:absolute;
  left:2px;
  top:254px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1749_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1749 {
  position:absolute;
  left:73px;
  top:204px;
  width:20px;
  height:20px;
}
#u1750 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1751 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1752_div {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:322px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1752 {
  position:absolute;
  left:68px;
  top:241px;
  width:341px;
  height:322px;
}
#u1753 {
  position:absolute;
  left:2px;
  top:153px;
  width:337px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1754 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1755_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:29px;
}
#u1755 {
  position:absolute;
  left:76px;
  top:248px;
  width:25px;
  height:29px;
}
#u1756 {
  position:absolute;
  left:2px;
  top:6px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1757_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1757 {
  position:absolute;
  left:106px;
  top:255px;
  width:107px;
  height:16px;
}
#u1758 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u1759_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:13px;
  background:inherit;
  background-color:rgba(102, 204, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u1759 {
  position:absolute;
  left:381px;
  top:256px;
  width:21px;
  height:13px;
  font-size:10px;
  color:#FFFFFF;
}
#u1760 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u1761_img {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:2px;
}
#u1761 {
  position:absolute;
  left:76px;
  top:281px;
  width:326px;
  height:1px;
}
#u1762 {
  position:absolute;
  left:2px;
  top:-8px;
  width:322px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1763 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1764_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:29px;
}
#u1764 {
  position:absolute;
  left:76px;
  top:282px;
  width:25px;
  height:29px;
}
#u1765 {
  position:absolute;
  left:2px;
  top:6px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1766_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1766 {
  position:absolute;
  left:106px;
  top:289px;
  width:141px;
  height:16px;
}
#u1767 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u1768_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:13px;
  background:inherit;
  background-color:rgba(0, 102, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u1768 {
  position:absolute;
  left:381px;
  top:290px;
  width:21px;
  height:13px;
  font-size:10px;
  color:#FFFFFF;
}
#u1769 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u1770_img {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:2px;
}
#u1770 {
  position:absolute;
  left:76px;
  top:315px;
  width:326px;
  height:1px;
}
#u1771 {
  position:absolute;
  left:2px;
  top:-8px;
  width:322px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1772 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1773_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:29px;
}
#u1773 {
  position:absolute;
  left:76px;
  top:316px;
  width:25px;
  height:29px;
}
#u1774 {
  position:absolute;
  left:2px;
  top:6px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1775_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1775 {
  position:absolute;
  left:106px;
  top:323px;
  width:135px;
  height:16px;
}
#u1776 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  white-space:nowrap;
}
#u1777_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u1777 {
  position:absolute;
  left:381px;
  top:324px;
  width:21px;
  height:13px;
  font-size:10px;
  color:#FFFFFF;
}
#u1778 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u1779_img {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:2px;
}
#u1779 {
  position:absolute;
  left:76px;
  top:349px;
  width:326px;
  height:1px;
}
#u1780 {
  position:absolute;
  left:2px;
  top:-8px;
  width:322px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1781 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1782_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:29px;
}
#u1782 {
  position:absolute;
  left:76px;
  top:350px;
  width:25px;
  height:29px;
}
#u1783 {
  position:absolute;
  left:2px;
  top:6px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1784_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1784 {
  position:absolute;
  left:106px;
  top:357px;
  width:127px;
  height:16px;
}
#u1785 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u1786_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:13px;
  background:inherit;
  background-color:rgba(204, 0, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u1786 {
  position:absolute;
  left:381px;
  top:358px;
  width:21px;
  height:13px;
  font-size:10px;
  color:#FFFFFF;
}
#u1787 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u1788_img {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:2px;
}
#u1788 {
  position:absolute;
  left:76px;
  top:383px;
  width:326px;
  height:1px;
}
#u1789 {
  position:absolute;
  left:2px;
  top:-8px;
  width:322px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1790 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1791_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:29px;
}
#u1791 {
  position:absolute;
  left:76px;
  top:383px;
  width:25px;
  height:29px;
}
#u1792 {
  position:absolute;
  left:2px;
  top:6px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1793_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1793 {
  position:absolute;
  left:106px;
  top:390px;
  width:85px;
  height:16px;
}
#u1794 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1795_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 0, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u1795 {
  position:absolute;
  left:381px;
  top:391px;
  width:21px;
  height:13px;
  font-size:10px;
  color:#FFFFFF;
}
#u1796 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u1797_img {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:2px;
}
#u1797 {
  position:absolute;
  left:76px;
  top:416px;
  width:326px;
  height:1px;
}
#u1798 {
  position:absolute;
  left:2px;
  top:-8px;
  width:322px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1799 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1800_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1800 {
  position:absolute;
  left:106px;
  top:423px;
  width:107px;
  height:16px;
}
#u1801 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u1802_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:13px;
  background:inherit;
  background-color:rgba(102, 204, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u1802 {
  position:absolute;
  left:381px;
  top:424px;
  width:21px;
  height:13px;
  font-size:10px;
  color:#FFFFFF;
}
#u1803 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u1804_img {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:2px;
}
#u1804 {
  position:absolute;
  left:76px;
  top:449px;
  width:326px;
  height:1px;
}
#u1805 {
  position:absolute;
  left:2px;
  top:-8px;
  width:322px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1806_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1806 {
  position:absolute;
  left:76px;
  top:422px;
  width:25px;
  height:25px;
}
#u1807 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1808 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1809_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1809 {
  position:absolute;
  left:106px;
  top:455px;
  width:107px;
  height:16px;
}
#u1810 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u1811_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:13px;
  background:inherit;
  background-color:rgba(102, 204, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u1811 {
  position:absolute;
  left:381px;
  top:452px;
  width:21px;
  height:13px;
  font-size:10px;
  color:#FFFFFF;
}
#u1812 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u1813_img {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:2px;
}
#u1813 {
  position:absolute;
  left:76px;
  top:477px;
  width:326px;
  height:1px;
}
#u1814 {
  position:absolute;
  left:2px;
  top:-8px;
  width:322px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1815_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1815 {
  position:absolute;
  left:76px;
  top:450px;
  width:25px;
  height:25px;
}
#u1816 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1817 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1818_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1818 {
  position:absolute;
  left:106px;
  top:484px;
  width:107px;
  height:16px;
}
#u1819 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u1820_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:13px;
  background:inherit;
  background-color:rgba(102, 204, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u1820 {
  position:absolute;
  left:381px;
  top:481px;
  width:21px;
  height:13px;
  font-size:10px;
  color:#FFFFFF;
}
#u1821 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u1822_img {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:2px;
}
#u1822 {
  position:absolute;
  left:76px;
  top:506px;
  width:326px;
  height:1px;
}
#u1823 {
  position:absolute;
  left:2px;
  top:-8px;
  width:322px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1824_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1824 {
  position:absolute;
  left:76px;
  top:479px;
  width:25px;
  height:25px;
}
#u1825 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1826 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1827_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1827 {
  position:absolute;
  left:106px;
  top:512px;
  width:107px;
  height:16px;
}
#u1828 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u1829_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:13px;
  background:inherit;
  background-color:rgba(102, 204, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u1829 {
  position:absolute;
  left:381px;
  top:509px;
  width:21px;
  height:13px;
  font-size:10px;
  color:#FFFFFF;
}
#u1830 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u1831_img {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:2px;
}
#u1831 {
  position:absolute;
  left:76px;
  top:534px;
  width:326px;
  height:1px;
}
#u1832 {
  position:absolute;
  left:2px;
  top:-8px;
  width:322px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1833_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1833 {
  position:absolute;
  left:76px;
  top:507px;
  width:25px;
  height:25px;
}
#u1834 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1835 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1836_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1836 {
  position:absolute;
  left:106px;
  top:540px;
  width:107px;
  height:16px;
}
#u1837 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u1838_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:13px;
  background:inherit;
  background-color:rgba(102, 204, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u1838 {
  position:absolute;
  left:381px;
  top:537px;
  width:21px;
  height:13px;
  font-size:10px;
  color:#FFFFFF;
}
#u1839 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u1840_img {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:2px;
}
#u1840 {
  position:absolute;
  left:76px;
  top:562px;
  width:326px;
  height:1px;
}
#u1841 {
  position:absolute;
  left:2px;
  top:-8px;
  width:322px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1842_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1842 {
  position:absolute;
  left:76px;
  top:535px;
  width:25px;
  height:25px;
}
#u1843 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
