﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:451px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1036 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:792px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1037 {
  position:absolute;
  left:75px;
  top:31px;
  width:376px;
  height:792px;
}
#u1038 {
  position:absolute;
  left:2px;
  top:388px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1039 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:788px;
  background:inherit;
  background-color:rgba(25, 25, 25, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1040 {
  position:absolute;
  left:77px;
  top:33px;
  width:372px;
  height:788px;
}
#u1041 {
  position:absolute;
  left:2px;
  top:386px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1042 {
  position:absolute;
  left:83px;
  top:103px;
  width:360px;
  height:640px;
}
#u1043 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:10px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1044 {
  position:absolute;
  left:179px;
  top:61px;
  width:168px;
  height:10px;
}
#u1045 {
  position:absolute;
  left:2px;
  top:-3px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:10px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1046 {
  position:absolute;
  left:179px;
  top:773px;
  width:168px;
  height:10px;
}
#u1047 {
  position:absolute;
  left:2px;
  top:-3px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:177px;
  background:inherit;
  background-color:rgba(102, 204, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1048 {
  position:absolute;
  left:83px;
  top:103px;
  width:360px;
  height:177px;
}
#u1049 {
  position:absolute;
  left:2px;
  top:80px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u1050 {
  position:absolute;
  left:241px;
  top:145px;
  width:61px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u1051 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u1052 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1053 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:43px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u1054 {
  position:absolute;
  left:83px;
  top:280px;
  width:360px;
  height:43px;
  font-size:16px;
  text-align:left;
}
#u1054_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:43px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u1054.mouseDown {
}
#u1055 {
  position:absolute;
  left:16px;
  top:12px;
  width:342px;
  word-wrap:break-word;
}
#u1056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:43px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u1056 {
  position:absolute;
  left:83px;
  top:323px;
  width:360px;
  height:43px;
  font-size:16px;
  text-align:left;
}
#u1056_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:43px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u1056.mouseDown {
}
#u1057 {
  position:absolute;
  left:16px;
  top:12px;
  width:342px;
  word-wrap:break-word;
}
#u1058_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:43px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u1058 {
  position:absolute;
  left:83px;
  top:367px;
  width:360px;
  height:43px;
  font-size:16px;
  text-align:left;
}
#u1058_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:43px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u1058.mouseDown {
}
#u1059 {
  position:absolute;
  left:16px;
  top:12px;
  width:342px;
  word-wrap:break-word;
}
#u1060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:43px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u1060 {
  position:absolute;
  left:83px;
  top:410px;
  width:360px;
  height:43px;
  font-size:16px;
  text-align:left;
}
#u1060_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:43px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u1060.mouseDown {
}
#u1061 {
  position:absolute;
  left:16px;
  top:12px;
  width:342px;
  word-wrap:break-word;
}
#u1062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:43px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u1062 {
  position:absolute;
  left:83px;
  top:454px;
  width:360px;
  height:43px;
  font-size:16px;
  text-align:left;
}
#u1062_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:43px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u1062.mouseDown {
}
#u1063 {
  position:absolute;
  left:16px;
  top:12px;
  width:342px;
  word-wrap:break-word;
}
#u1064 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:25px;
}
#u1065 {
  position:absolute;
  left:403px;
  top:289px;
  width:28px;
  height:25px;
}
#u1066 {
  position:absolute;
  left:2px;
  top:4px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:25px;
}
#u1067 {
  position:absolute;
  left:403px;
  top:332px;
  width:28px;
  height:25px;
}
#u1068 {
  position:absolute;
  left:2px;
  top:4px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:25px;
}
#u1069 {
  position:absolute;
  left:403px;
  top:376px;
  width:28px;
  height:25px;
}
#u1070 {
  position:absolute;
  left:2px;
  top:4px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:25px;
}
#u1071 {
  position:absolute;
  left:403px;
  top:419px;
  width:28px;
  height:25px;
}
#u1072 {
  position:absolute;
  left:2px;
  top:4px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:25px;
}
#u1073 {
  position:absolute;
  left:403px;
  top:463px;
  width:28px;
  height:25px;
}
#u1074 {
  position:absolute;
  left:2px;
  top:4px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:28px;
}
#u1075 {
  position:absolute;
  left:106px;
  top:329px;
  width:24px;
  height:28px;
}
#u1076 {
  position:absolute;
  left:2px;
  top:6px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
}
#u1077 {
  position:absolute;
  left:104px;
  top:293px;
  width:28px;
  height:20px;
}
#u1078 {
  position:absolute;
  left:2px;
  top:2px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:23px;
}
#u1079 {
  position:absolute;
  left:105px;
  top:423px;
  width:26px;
  height:23px;
}
#u1080 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:28px;
}
#u1081 {
  position:absolute;
  left:105px;
  top:461px;
  width:26px;
  height:28px;
}
#u1082 {
  position:absolute;
  left:2px;
  top:6px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:24px;
}
#u1083 {
  position:absolute;
  left:103px;
  top:378px;
  width:31px;
  height:24px;
}
#u1084 {
  position:absolute;
  left:2px;
  top:4px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1085 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u1086 {
  position:absolute;
  left:107px;
  top:206px;
  width:61px;
  height:16px;
  font-size:10px;
}
#u1087 {
  position:absolute;
  left:2px;
  top:2px;
  width:57px;
  word-wrap:break-word;
}
#u1088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u1088 {
  position:absolute;
  left:170px;
  top:206px;
  width:61px;
  height:16px;
  font-size:10px;
}
#u1089 {
  position:absolute;
  left:2px;
  top:2px;
  width:57px;
  word-wrap:break-word;
}
#u1090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u1090 {
  position:absolute;
  left:233px;
  top:206px;
  width:61px;
  height:16px;
  font-size:10px;
}
#u1091 {
  position:absolute;
  left:2px;
  top:2px;
  width:57px;
  word-wrap:break-word;
}
#u1092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u1092 {
  position:absolute;
  left:296px;
  top:206px;
  width:61px;
  height:16px;
  font-size:10px;
}
#u1093 {
  position:absolute;
  left:2px;
  top:2px;
  width:57px;
  word-wrap:break-word;
}
#u1094_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u1094 {
  position:absolute;
  left:359px;
  top:206px;
  width:61px;
  height:16px;
  font-size:10px;
}
#u1095 {
  position:absolute;
  left:2px;
  top:2px;
  width:57px;
  word-wrap:break-word;
}
#u1096_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u1096 {
  position:absolute;
  left:98px;
  top:151px;
  width:32px;
  height:32px;
}
#u1097 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:195px;
}
#u1098 {
  position:absolute;
  left:83px;
  top:500px;
  width:360px;
  height:195px;
}
#u1099 {
  position:absolute;
  left:2px;
  top:90px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1100 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:24px;
  background:inherit;
  background-color:rgba(114, 114, 114, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1101 {
  position:absolute;
  left:83px;
  top:103px;
  width:360px;
  height:24px;
}
#u1102 {
  position:absolute;
  left:2px;
  top:4px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:13px;
}
#u1103 {
  position:absolute;
  left:335px;
  top:109px;
  width:100px;
  height:13px;
}
#u1104 {
  position:absolute;
  left:2px;
  top:-2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1105 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
  font-size:10px;
}
#u1106 {
  position:absolute;
  left:83px;
  top:695px;
  width:360px;
  height:48px;
  font-size:10px;
}
#u1107 {
  position:absolute;
  left:2px;
  top:30px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1108 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:22px;
}
#u1109 {
  position:absolute;
  left:109px;
  top:702px;
  width:19px;
  height:22px;
}
#u1110 {
  position:absolute;
  left:2px;
  top:3px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u1111 {
  position:absolute;
  left:83px;
  top:695px;
  width:69px;
  height:48px;
  font-size:10px;
}
#u1111_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:48px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0980392156862745);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u1111.mouseDown {
}
#u1112 {
  position:absolute;
  left:2px;
  top:33px;
  width:65px;
  word-wrap:break-word;
}
#u1113 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:30px;
}
#u1114 {
  position:absolute;
  left:255px;
  top:695px;
  width:23px;
  height:30px;
}
#u1115 {
  position:absolute;
  left:2px;
  top:7px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u1116 {
  position:absolute;
  left:232px;
  top:695px;
  width:70px;
  height:48px;
  font-size:10px;
}
#u1116_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:48px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0980392156862745);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u1116.mouseDown {
}
#u1117 {
  position:absolute;
  left:2px;
  top:33px;
  width:66px;
  word-wrap:break-word;
}
#u1118 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u1119 {
  position:absolute;
  left:152px;
  top:695px;
  width:80px;
  height:48px;
  font-size:10px;
}
#u1119_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:48px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0980392156862745);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u1119.mouseDown {
}
#u1120 {
  position:absolute;
  left:2px;
  top:33px;
  width:76px;
  word-wrap:break-word;
}
#u1121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:26px;
}
#u1121 {
  position:absolute;
  left:181px;
  top:702px;
  width:23px;
  height:26px;
}
#u1122 {
  position:absolute;
  left:2px;
  top:5px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1123 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u1124 {
  position:absolute;
  left:303px;
  top:695px;
  width:67px;
  height:48px;
  font-size:10px;
}
#u1124_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:48px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0980392156862745);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u1124.mouseDown {
}
#u1125 {
  position:absolute;
  left:2px;
  top:33px;
  width:63px;
  word-wrap:break-word;
}
#u1126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:30px;
}
#u1126 {
  position:absolute;
  left:326px;
  top:695px;
  width:25px;
  height:30px;
}
#u1127 {
  position:absolute;
  left:2px;
  top:7px;
  width:21px;
  word-wrap:break-word;
}
#u1128 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1129_img {
  position:absolute;
  left:-4px;
  top:-3px;
  width:78px;
  height:13px;
}
#u1129 {
  position:absolute;
  left:374px;
  top:739px;
  width:69px;
  height:4px;
  font-size:10px;
}
#u1130 {
  position:absolute;
  left:2px;
  top:-14px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u1131 {
  position:absolute;
  left:370px;
  top:695px;
  width:73px;
  height:48px;
  font-size:10px;
}
#u1131_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:48px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0980392156862745);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u1131.mouseDown {
}
#u1132 {
  position:absolute;
  left:2px;
  top:33px;
  width:69px;
  word-wrap:break-word;
}
#u1133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1133 {
  position:absolute;
  left:392px;
  top:695px;
  width:30px;
  height:30px;
}
#u1134 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1135 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:5px 5px 10px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 10px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 10px rgba(0, 0, 0, 0.349019607843137);
}
#u1136 {
  position:absolute;
  left:94px;
  top:226px;
  width:339px;
  height:57px;
}
#u1137 {
  position:absolute;
  left:2px;
  top:20px;
  width:335px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
}
#u1138 {
  position:absolute;
  left:120px;
  top:237px;
  width:32px;
  height:16px;
}
#u1139 {
  position:absolute;
  left:2px;
  top:0px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
}
#u1140 {
  position:absolute;
  left:174px;
  top:237px;
  width:32px;
  height:16px;
}
#u1141 {
  position:absolute;
  left:2px;
  top:0px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1142 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
}
#u1143 {
  position:absolute;
  left:228px;
  top:237px;
  width:32px;
  height:16px;
}
#u1144 {
  position:absolute;
  left:2px;
  top:0px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1145 {
  position:absolute;
  left:230px;
  top:261px;
  width:25px;
  height:15px;
  font-size:12px;
}
#u1146 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1147 {
  position:absolute;
  left:126px;
  top:261px;
  width:25px;
  height:15px;
  font-size:12px;
}
#u1148 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1149 {
  position:absolute;
  left:179px;
  top:261px;
  width:25px;
  height:15px;
  font-size:12px;
}
#u1150 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
}
#u1151 {
  position:absolute;
  left:283px;
  top:237px;
  width:32px;
  height:16px;
}
#u1152 {
  position:absolute;
  left:2px;
  top:0px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1153_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1153 {
  position:absolute;
  left:287px;
  top:261px;
  width:25px;
  height:15px;
  font-size:12px;
}
#u1154 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
}
#u1155 {
  position:absolute;
  left:382px;
  top:237px;
  width:18px;
  height:20px;
}
#u1156 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1157_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1157 {
  position:absolute;
  left:380px;
  top:261px;
  width:25px;
  height:15px;
  font-size:12px;
}
#u1158 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:22px;
}
#u1159 {
  position:absolute;
  left:337px;
  top:237px;
  width:23px;
  height:22px;
}
#u1160 {
  position:absolute;
  left:2px;
  top:3px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1161_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1161 {
  position:absolute;
  left:337px;
  top:261px;
  width:25px;
  height:15px;
  font-size:12px;
}
#u1162 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1163 {
  position:absolute;
  left:375px;
  top:155px;
  width:30px;
  height:30px;
}
#u1164 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u1165 {
  position:absolute;
  left:175px;
  top:140px;
  width:56px;
  height:56px;
}
#u1166 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1167_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u1167 {
  position:absolute;
  left:241px;
  top:170px;
  width:106px;
  height:13px;
  font-size:10px;
  color:#FFFFFF;
}
#u1168 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  word-wrap:break-word;
}
